{% set default = FALSE %}
{% if userSector is defined %}
  {% for sector in paragraph.field_sector.value %}
    {% if sector.target_id == userSector %}
        {% set default = TRUE %}
    {% endif %}
  {% endfor %}
{% endif %}
{% if user.id == 0 and content.field_sector[0]['#cache']['tags'][0] == 'taxonomy_term:1' %}
    {% set default = TRUE %}
{% endif %}
<div class="paragraph--type--tip paragraph--view-mode--default{% if default == TRUE %} default-tip{% endif %}">
    {% set i = 0 %}
    {% set sectorArr = [] %}
    {% for key in paragraph.field_sector.value %}
        {% if content.field_sector[i]['#cache']['tags'][0] != 'taxonomy_term:1' %}
            {% set sectorArr = sectorArr|merge([content.field_sector[i]['#plain_text']]) %}
        {% endif %}
        {% set i = i + 1 %}
    {% endfor %}
    <p class="field-sector"><strong>{{ sectorArr|join(' & ') }}</strong></p>
    <p class="field-description">{{ content.field_tip }}</p>
</div>
