
// Articles
// --------------------------------------------------

.view-articles {
	@extend .container;
	.view-header, .view-footer {
	  @include clearfix();
	  margin-left: -7.5px;
	  margin-right: -7.5px;
	}
	.view-content {
		@extend .row;
		.views-row {
			@extend .cols--1;
			@extend .cols--md--2;
			@extend .cols--lg--3;
			article {
				padding: 0 $gutter $gutter 0;
			}
		}
	}
}