{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 */
#}
<div class="banner"></div>
<div id="site-wrapper">
  <header class="region region--header">

    {% if page.header %}
    <div class="region--header-inner region-inner">
      {{ page.header }}
    </div>
    {% endif %}

    {% if page.header_mobile %}
    <div class="region--header-mobile-inner region-inner">
      {{ page.header_mobile }}
    </div>
    {% endif %}

    <a href="#" id="mobile-menu-anchor"><span></span></a>

  </header>

  <div class="region region--highlighted clearfix">

    {% if page.highlighted %}
    <div class="region--highlighted-inner region-inner">
      {{ page.highlighted }}
    </div>
    {% endif %}

  </div>

  <div class="region region--content clearfix">

    {% if page.content %}
    <div class="region--content-inner region-inner">
      {{ page.content }}
    </div>
    {% endif %}

  </div>

  <div class="region region--footer clearfix">

    {% if page.footer %}
    <div class="region--footer-inner region-inner">
      {{ page.footer }}
    </div>
    {% endif %}

  </div>

    <div class="popup navigation-end">
        <div class="popup-inner">
            <div class="popup-cell">
                <div class="popup-content">
                    <p><a href="#" id="submit-session">{{ 'Sessie verderzetten'|t }}</a></p>
                    <p><a href="/questionairy/new" id="end-session"><span>{{ 'Nieuwe sessie starten'|t }}</span></a></p>
                </div>
            </div>
        </div>
    </div>




</div>