
// Accordeon
// --------------------------------------------------

.paragraph--type--accordeon {
	.field--name-field-title {
		@extend h3;
		cursor: pointer;
		padding-right: 25px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 4px;
			right: 0;
			display: block;
			width: 18px;
			height: 18px;
			background: transparent url(../img/right.png) no-repeat 50% 50% / auto 18px;
		}
		&.active:after {
			background: transparent url(../img/down.png) no-repeat 50% 50% / 18px auto;
		}
	}
	.field--name-field-text {
		max-width: 860px;
		html.js & {
			display: none;
		}
	}
}
.field--name-field-accordeon-item > .field__item {
	padding: $gutter 0 0;
	border-bottom: 1px solid rgba(14,58,92,0.16);
	&:last-child {
		border: none;
	}
}