
// Settings
// --------------------------------------------------

// Fonts

$font-default:      "Roboto", arial, helvetica, sans-serif;
$font-title:        $font-default;

// Font sizes

$font-size-default:  	21px;
$font-size-small:   	18px;
$font-size-h1:   		36px;
$font-size-h1-small:  	32px;
$font-size-h2:   		18px;
$font-size-h2-small:   	16px;
$font-size-h3:   		21px;
$font-size-h3-small:   	18px;

// Grid

$site-width:  			1200px;
$gutter:        		15px;

// Breakpoints

$sm: 				400px;
$md:      			1100px;
$lg:      			1250px;
$xl:      			1400px;

$sm-h:				720px;
$md-h:      		800px;
$lg-h:      		880px;
$xl-h:      		960px;

// Colors

$color-primary:     #0E3A5C; 
$color-secondary:   #C7402D; 
$color-tertiary:    #15959F; 
$color-quartenary:	#EC9770;
$color-quinary:		#76448D;
$color-senary:		#8A9161;

$color-white:       #ffffff;
$color-black:       #000000;
$color-grey:        #dddddd; 
$color-grey-light:	#f3f5f6;

$color-text:        $color-primary; 
$color-link:		$color-tertiary;
$color-status:      #1bb761; // status messages
$color-warning:     #ffa956; // warning messages
$color-error:       #f14d51; // error messages

$color-social-facebook:     #3b5998;
$color-social-twitter:      #55acee;
$color-social-linkedin:     #007bb5;
$color-social-googleplus:   #dd4b39;
$color-social-youtube:      #bb0000;
$color-social-instagram:    #e95950;
$color-social-reddit:       #ff4500;
$color-social-mail:         #666666;
$color-social-rss:          #ff9900;

// Borders

$border-radius-default:  7px;
$border-radius-button:   0;


// Transition
// More examples at http://easings.net/

$easeIn:                    cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOut:                   cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOut:                 cubic-bezier(0.645, 0.045, 0.355, 1);

$transition-time-default:   0.4s;
$transition-default:        $easeOut $transition-time-default;
