{{ content.body }}
{% if node.field_question_tips.value|length > 1 %}
  <div class="tips">
    {{ content.field_question_tips }}
    {% set text = 'Bekijk de toelichting toegespitst op andere sectoren'|t %}
    {% if user.id == 0 %}
      {% set text = 'Bekijk de toelichting(en)'|t %}
    {% endif %}
    <a href="#" data-tips-question-id="{{ node.id }}">{{ text }}</a>
  </div>
{% endif %}

{% if node.field_question_tips.value|length == 1 %}
  <div class="tips">
    <div class="paragraph--type--tip paragraph--view-mode--default default-tip">
      <p class="field-description">{{ node.field_question_tips.0.entity.field_tip.0.value|raw }}</p>
    </div>
  </div>
{% endif %}
<div class="slider{% if elements['#answer']['nvt'] == '1' %} non-aplic{% endif %}">
	<h2>{{ 'Geef een score:'|t }}</h2>
    <input type="range" id="slider-value" name="value" min="0" max="100" value="{{ elements['#answer']['value'] }}" step="1"{% if elements['#answer']['nvt'] == '1' %} class="non-aplic"{% endif %}/>
    <div class="rangeslider__ranges"><span class="zero">0 %</span> <span class="hundred">100 %</span></div>
</div>
<div class="extra-description">
    <textarea name="extra-description" placeholder="{{ 'Schrijf een toelichting'|t }}">{{ elements['#answer']['desc'] }}</textarea>
</div>
