.front {
	.banner {
		height: 100%;
		&:before {
			content: '';
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: transparent url(../img/curves.png) no-repeat 100% 0 / auto 100%;
		}
	}
	.region--content {
		width: 100%;
		overflow: hidden;
	}
	#block-pagetitle {
		display: none;
	}
	#block-mainpagecontent {
		.field--name-field-blocks {
			> .field__item:nth-child(1) {
				@include sitewidth();
				.field--name-field-text {
					margin-top: $gutter*3;
					h2 {
						font-size: 36px;
						text-transform: none;
						line-height: 1.2;
						padding-bottom: $gutter*3;
						position: relative;
						&:after {
							content: '';
							display: block;
							width: 65px;
							height: 6px;
							background: $color-secondary;
							position: absolute;
							bottom: 15px;
							left: 0;
						}
					}
					.button {
						padding: 0 30px 0 60px;
						height: 50px;
						line-height: 50px;
						background: $color-tertiary url(../img/triangle-right.png) no-repeat 30px 50% / 15px auto;
					}
				}
				@media all and (max-width: $md - 1px) {
					.field--name-field-text {
						margin-top: 0;
						h2 {
							font-size: 26px;
						}
					}
				}
			}
			> .field__item:nth-child(2) {
				@include sitewidth();
				position: relative;
				max-width: 1340px;
				margin-top: 120px;
				margin-bottom: 120px;
				padding: 150px 85px 100px;
				background: $color-primary;
				color: $color-white;
				a,h2,h3,h4,h5 {
					color: $color-white;
				}
				&:before, &:after {
					content: '';
					display: block;
					width: 65px;
					height: 65px;
					position: absolute;
					top: -30px;
					left: -30px;
					background: transparent url(../img/topleftcorner.png) no-repeat 0 0;
				}
				&:after {
					top: auto;
					left: auto;
					bottom: -30px;
					right: -30px;
					background: transparent url(../img/bottomrightcorner.png) no-repeat 0 0;
				}
				@media all and (min-width: $md) {
					.cols--md--2 {
						width: 45%;
						.field {
							padding: 0 $gutter*2 0 0;
						}
						+ .cols--md--2 {
							width: 55%;
							.field {
								padding: 0;
							}
							.cols--md--2 {
								width: calc(100%/55*10);
								.field {
									padding: 0 10px 0 0;
								}
								+ .cols--md--2 {
									width: calc(100%/55*45);
									.field {
										padding: 0 $gutter*2 0 0;
									}
								}
							}
						}
					}
				}
				.field--name-field-text {
					h2 {
						position: relative;
						font-size: 46px;
						text-transform: none;
						line-height: 1.2;
						padding-bottom: 60px;
						&:after {
							content: '';
							display: block;
							width: 65px;
							height: 6px;
							background: $color-white;
							position: absolute;
							bottom: 30px;
							left: 0;
						}
					}
				}
				.cols--md--2 + .cols--md--2 {
					.field--name-field-text {
						margin-bottom: $gutter*3;
						p:first-child {
							margin: 0;
							font-size: 21px;
							+ p {
								font-weight: 300;
							}
						}
					}
				}
				@media all and (max-width: $md - 1px) {
					margin: 60px auto;
					padding: $gutter*2;
					&:before, &:after {
						display: none;
					}
					.field--name-field-text {
						margin-bottom: 0;
					}
					.field--name-field-text h2 {
						font-size: 26px;
					}
					.field--name-field-image {
						max-width: 50px;
						margin: $gutter*2 0 0;
					}
					.cols--md--2 + .cols--md--2 {
						.field--name-field-text {
							margin-bottom: 0;
						}
					}
				}
			}
			> .field__item:nth-child(3) {
				@include sitewidth();
				.cols--md--2 {
					> .field {
						text-align: center;
						img {
							max-width: 135px;
						}
						h2 {
							font-size: 36px;
							margin-top: 15px;
							text-transform: none;
						}
					}
					+ .cols--md--2 {
						> .field {
							text-align: left;
						}
					}
				}
				@media all and (min-width: $md) {
					.cols--md--2 {
						width: calc(100%/3);
						+ .cols--md--2 {
							width: calc(100%/3*2);
						}
					}
				}
				@media all and (max-width: $md - 1px) {
					.cols--md--2 > .field {
						img {
							max-width: 80px;
						}
					}
					.cols--md--2 > .field h2 {
						font-size: 26px;
					}
				}
			}
			> .field__item:nth-child(4) {
				text-align: center;
				position: relative;
				z-index: 1;
				.field {
					position: relative;
					z-index: 2;
					max-width: none;
				}
				&:after {
					content: '';
					height: 40%;
					width: 100%;
					position: absolute;
					bottom: 0;
					left: 0;
					z-index: 0;
					background: $color-primary;
				}
			}
			> .field__item:nth-child(5) {
				background: $color-primary;
				color: $color-white;
				text-align: center;
				a,h2,h3,h4,h5 {
					color: $color-white;
				}
				.field {
					max-width: none;
					h2 {
						font-size: 46px;
						line-height: 1.2;
						text-transform: none;
						margin-bottom: 30px;
					}
					.button {
						padding: 0 30px 0 60px;
						height: 50px;
						line-height: 50px;
						background: $color-tertiary url(../img/triangle-right.png) no-repeat 30px 50% / 15px auto;
					}
				}
				@media all and (max-width: $md - 1px) {
					.field--name-field-text h2 {
						font-size: 26px;
					}
				}
			}
		}
	}
	.region--footer {
		background: $color-primary;
		color: $color-white;
		a, h2, h3, h4, h5 {
			color: $color-white !important;
		}
	}
}