
// Questions
// --------------------------------------------------
body:not(.questionairy) {
	.header-block {
		display: none;
	}
}
.questionairy {
	background: $color-secondary;
	.banner, .region--header .branding, .region--footer {
		display: none;
	}
	.region--highlighted {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 80px;
		z-index: 9;
		background: rgba(255,255,255,0.4);
		@media all and (max-height: $md-h - 1px) {
			height: 60px;
		}
	}
	@media all and (min-width: $md) {
		.region--highlighted {
			display: block;
			left: calc(25% - 3.75px);
			width: calc(75% + 3.75px);
		}
	}
	#block-loggedinmenu, #block-mainnavigation {
		a.start-tool {
			display: none;
		}
		ul.menu li span.info {
			color: $color-white;
			background: transparent;
			box-shadow: none;
			text-transform: none;
			cursor: default;
			padding: 0;
			&:hover {
				opacity: 1;
			}
			@media all and (min-width: 1325px) {
				display: block;
			}
			@media all and (min-width: 1600px) {
				padding-right: 45px;
			}
		}
	}
	.header-block {
		float: left;
		padding-left: 18.75px;
		@media all and (min-width: $md) {
			padding-left: 53.75px;
		}
		@media all and (min-width: $lg) and (min-height: $lg-h) {
			padding-left: 103.75px;
		}
		ul.menu li {
			float: left;
			padding: 0;
			margin: 0;
			border-left: 2px solid rgba(255,255,255,0.45);
			&:last-child {
				border-right: 2px solid rgba(255,255,255,0.45);
			}
			a {
				display: block;
				height: 80px;
				line-height: 20px;
				padding:  30px $gutter*2 30px 60px;
				font-size: 14px;
				font-weight: 700;
				text-transform: uppercase;
				span {
					display: inline-block;
					border-bottom: 2px solid rgba(255,255,255,0.45);
				}
				&.download {
					background: transparent url(../img/download.png) no-repeat 30px 30px / 18px auto;
				}
				&.helpdesk {
					background: transparent url(../img/helpdesk.png) no-repeat 30px 30px / 20px auto;
				}
				&:hover {
					opacity: 0.6;
				}
			}
		}
		.field--name-body h3 {
			font-size: 36px;
		}
		.mail {
			margin-top: $gutter*2;
		}
		.mail, .tel {
			display: inline-block;
			a {
				display: inline-block;
				height: 30px;
				line-height: 30px;
				padding-left: 45px;
				color: $color-text;
				font-weight: 700;
				margin-right: $gutter*2;
			}
		}
		.mail a {
			background: transparent url(../img/mail.png) no-repeat 0 50% / 30px auto;
		}
		.tel a {
			background: transparent url(../img/tel.png) no-repeat 0 50% / 30px auto;
		}
		@media all and (max-height: $md-h - 1px) {
			ul.menu li a {
				height: 60px;
				line-height: 16px;
				font-size: 14px;
				padding: 20px 30px 20px 60px;
				background-position: 30px 20px !important;
			}
		}
	}
	.region--content-inner {
		overflow: hidden;
	}
	#block-pagetitle {
		display: none;
	}
	#block-mainpagecontent {
		@extend .container;
		.tabs-wrapper {
			@extend .row;
			.sidebar {
				@extend .cols--1;
				@extend .cols--md--4;
			}
			.tab-content, .summary {
				@extend .cols--1;
				@extend .cols--md--4;
				@extend .colspan--md--3;
			}
		}
	}
	.branding {
		@media all and (max-width: $md - 1px) {
			padding-top: $gutter;
		}
	}
	.branding a {
		margin: $gutter*3 auto $gutter*3;
		height: 80px !important;
		width: 185px !important;
		@media all and (min-height: $md-h) {
			margin: $gutter*3 auto $gutter*4;
			height: 100px !important;
			width: 235px !important;
		}
		@media all and (min-height: $lg-h) {
			margin: $gutter*3 auto $gutter*4;
			height: 120px !important;
			width: 280px !important;
		}
		@media all and (min-height: $xl-h) {
			margin: $gutter*3 auto $gutter*5;
		}
		@media all and (max-width: $md - 1px) {
			margin: 0 0 $gutter $gutter;
		}
	}
	.sidebar {
		background: $color-white;
		position: relative;
	}
	.sidebar ul {
		margin: 0;
		list-style: none;
		li {
			margin: 0;
			text-align: center;
			font-size: 21px;
			font-weight: bold;
			margin-bottom: 40px;
			&.current {
				color: $color-secondary;
			}
			@media all and (min-height: 760px) {
				margin-bottom: 45px;
			}
			@media all and (min-height: $md-h) {
				margin-bottom: 50px;
				font-size: 22px;
			}
			@media all and (min-height: 840px) {
				margin-bottom: 55px;
			}
			@media all and (min-height: $lg-h) {
				margin-bottom: 60px;
				font-size: 23px;
			}
			@media all and (min-height: 920px) {
				margin-bottom: 68px;
			}
			@media all and (min-height: $xl-h) {
				margin-bottom: 75px;
				font-size: 24px;
			}
			@media all and (max-width: $md - 1px) {
				display: none;
				margin-bottom: 0;
				&.current {
					display: block;
					color: $color-text;
					padding-bottom: $gutter;
				}
			}
		}
	}
	.progress {
		margin-top: $gutter*2;
		padding-top: $gutter*2;
		padding-bottom: 15px;
		position: relative;
		text-align: center;
		font-size: 66px;
		letter-spacing: -6px;
		// transition: $transition-default;
		@media all and (min-height: $md-h) {
			margin-top: $gutter*3;
			padding-top: $gutter*2;
		}
		@media all and (min-height: $lg-h) {
			margin-top: $gutter*4;
			padding-top: $gutter*3;
		}
		@media all and (min-height: $xl-h) {
			margin-top: $gutter*5;
			padding-top: $gutter*3;
		}
		span.current-progress {
			color: $color-secondary;
			font-weight: 700;
		}
		h2 {
			margin-bottom: 0;
			letter-spacing: 0;
		}
		&:before { 
			content: '';
			display: block;
			width: 106px;
			height: 1px;
			background: $color-primary;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -53px;
		}
		@media all and (max-width: $md - 1px) {
			position: absolute;
			bottom: -27px;
			left: 50%;
			width: 70px;
			margin: 0 0 0 -35px;
			text-align: center;
			z-index: 10;
			background: $color-white;
			padding: 0;
			font-size: 18px;
			letter-spacing: 0;
			&:before {
				display: none;
			}
			h2 {
				display: none;
			}
		}
	}
	.tab-content, .summary {
		background: $color-secondary url(../img/curves-light.png) no-repeat 100% 0 / auto 100%;
		color: $color-white;
		padding-top: 100px;
		padding-bottom: $gutter*2;
		a, h2, h3, h4, h5 {
			color: $color-white;
		}
		> div {
			padding-left: 15px;
			padding-right: 15px;
		}
		@media all and (min-width: $md) {
			> div {
				padding-left: 50px;
				padding-right: 50px;
			}
		}
		@media all and (min-width: $lg) and (min-height: $lg-h) {
			> div {
				padding-left: 100px;
				padding-right: calc(100% / 3);
			}
		}
		@media all and (min-height: $md-h) {
			padding-top: 115px;
		}
		@media all and (min-height: $lg-h) {
			padding-top: 125px;
			padding-bottom: $gutter*3;
		}
		@media all and (min-height: $xl-h) {
			padding-top: 140px;
		}
		@media all and (max-width: $md - 1px) {
			padding-top: $gutter*2;
		}
	}
	.summary {
		padding-top: 155px;
		@media all and (min-height: $md-h) {
			padding-top: 185px;
		}
		@media all and (min-height: $lg-h) {
			padding-top: 205px;
		}
		@media all and (min-height: $xl-h) {
			padding-top: 220px;
		}
		@media all and (min-width: $lg) {
			> div {
				padding-right: calc(100% / 3);
			}
		}
		@media all and (max-width: $md - 1px) {
			padding-top: $gutter*2;
		}
	}
	.question {
		> .number {
			font-weight: 700;
			text-transform: uppercase;
			opacity: 0.42;
			@media all and (max-width: $md - 1px) {
				font-size: 14px;
			}
		}
		.field--name-body {
			font-size: 30px;
			line-height: 1.2;
			font-weight: 300;
			@media all and (min-height: $md-h) {
				font-size: 33px;
			}
			@media all and (min-height: $lg-h) {
				font-size: 37px;
			}
			@media all and (min-height: $xl-h) {
				font-size: 40px;
			}
			@media all and (max-width: $md - 1px) {
				font-size: 21px;
			}
		}
		.field--name-field-question-tips {
			.field__label, .field-sector, .field-description, .paragraph--type--tip {
				display: none;
			}
			.paragraph--type--tip.default-tip {
				display: block;
			}
			.field--name-field-tip {
				font-weight: 300;
				font-size: 16px;
				p:last-child {
					margin: 0;
				}
				@media all and (min-width: $md) {
					font-size: 18px;
					padding-left: $gutter*2;
					margin-left: $gutter*2;
					border-left: 5px solid rgba(255,255,255,0.2);
				}
			}
		}
		.tips a:last-child {
			display: block;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			text-decoration: underline;
			padding-top: $gutter*2;
		}
	}
	.slider {
		position: relative;
		margin: $gutter*2 200px $gutter 0;
		@media all and (min-height: $md-h) {
			margin: $gutter*3 200px $gutter 0;
		}
		@media all and (min-height: $lg-h) {
			margin: $gutter*3 200px $gutter*2 0;
		}
		@media all and (min-height: $xl-h) {
			margin: $gutter*4 200px $gutter*2 0;
		}
		@media all and (max-width: $md - 1px) {
			margin: $gutter*2 80px $gutter 0;
		}
		@media all and (max-width: $md - 1px) {
			margin-top: $gutter*3 !important;
		}
		&.non-aplic {
			opacity: 0.6;
		}
		h2 {
			font-size: 30px;
			font-weight: 300;
			text-transform: none;
			@media all and (min-height: $md-h) {
				font-size: 33px;
			}
			@media all and (min-height: $lg-h) {
				font-size: 37px;
			}
			@media all and (min-height: $xl-h) {
				font-size: 40px;
			}
			@media all and (max-width: $md - 1px) {
				font-size: 21px;
			}
		}
		span.value {
			display: block;
			position: absolute;
			bottom: -15px;
			right: -200px;
			font-size: 80px;
			line-height: 1;
			font-weight: 300;
			letter-spacing: -3px;
			@media all and (max-width: $md - 1px) {
				bottom: -7px;
				right: -80px;
				font-size: 30px;
			}
		}
		.rangeslider {
			height: 6px;
			background: $color-white;
			box-shadow: none;
			@media all and (max-width: $md - 1px) {
				height: 4px;
			}
		}
		.rangeslider__fill {
			background: $color-primary;
			height: 22px;
			top: -8px;
			@media all and (max-width: $md - 1px) {
				height: 14px;
				top: -4px;
			}
		}
		.rangeslider__handle {
			height: 34px;
			width: 34px;
			border: 6px solid $color-white;
			background: $color-primary;
			top: -14px;
			@media all and (max-width: $md - 1px) {
				height: 22px;
				width: 22px;
				border: 4px solid $color-white;
				background: $color-primary;
				top: -8px;
			}
		}
		.rangeslider__ranges {
			overflow: hidden;
			margin-top: $gutter;
			margin-bottom: $gutter;
			font-weight: 700;
			@media all and (min-height: $lg-h) {
				margin-bottom: $gutter*2;
			}
			@media all and (min-height: $xl-h) {
				margin-bottom: $gutter*3;
			}
			@media all and (max-width: $md - 1px) {
				font-size: 14px;
			}
			span {
				display: block;
				float: left;
				&.hundred {
					float: right;
				}
			}
		}
	}
	.extra-description {
		margin-bottom: $gutter*2;
		@media all and (min-height: $lg-h) {
			margin-bottom: $gutter*3;
		}
		@media all and (min-height: $xl-h) {
			margin-bottom: $gutter*4;
		}
		textarea {
			background: rgba(255,255,255,0.1);
			border-radius: $border-radius-default;
			border: none;
			font-style: italic;
			@media all and (max-width: $md - 1px) {
				font-size: 14px;
			}
		}
	}
	.Qnavigation, .navigation-end {
		margin-top: $gutter*3;
		// transition: $transition-default;
		a {
			display: block;
			float: left;
			height: 70px;
			line-height: 65px;
			padding: 0 $gutter*3;
			margin-right: 25px;
			margin-bottom: 10px;
			background: $color-white;
			border: 2px solid $color-white;
			border-radius: $border-radius-default;
			color: $color-secondary;
			font-weight: 700;
			text-transform: uppercase;
			&:not(.disabled):hover {
				text-decoration: none;
				opacity: 0.6;
			}
			&#navigation-previous,
			&#navigation-next {
				padding: 0;
				width: 70px;
				text-indent: -9999px;
				background-repeat: no-repeat;
				background-size: 32px auto;
				background-position: 50% 50%;
			}
			&#navigation-previous {
				background-image: url(../img/arrow-left.png);
			}
			&#navigation-next {
				background-image: url(../img/arrow-right.png);
			}
			&.no {
				background: transparent;
				color: $color-white !important;
				opacity: 0.6;
				&:hover {
					background: $color-white;
					color: $color-text !important;
				}
				&.non-aplic {
					opacity: 1;
					background: $color-white;
					color: $color-text !important;
				}
			}
			&.disabled {
				opacity: 0.2;
			}
			&#end-session {
				opacity: 0.5;
			}
		}
		@media all and (max-width: $md - 1px) {
			margin-top: $gutter*3 !important;
			a {
				font-size: 16px;
				height: 50px;
				line-height: 50px;
				margin-right: 10px;
				text-align: center;
			}
			a#navigation-non-relevant {
				width: calc(100% - 120px);
				padding: 0 20px;
			}
			a#navigation-previous,
			a#navigation-next {
				padding: 0;
				width: 50px;
				text-indent: -9999px;
				background-repeat: no-repeat;
				background-size: 26px auto;
				background-position: 50% 50%;
			}
			a#navigation-next {
				margin-right: 0;
			}
		}
		@media all and (max-height: $md-h - 1px) {
			a {
				height: 40px;
				line-height: 36px;
				font-size: 14px;
				margin-right: 5px;
				border-radius: 2px;
			}
			a#navigation-previous,
			a#navigation-next {
				width: 40px;
				background-size: 25px auto;
			}
		}
		@media all and (max-height: $md-h - 1px) and (max-width: $md - 1px) {
			a#navigation-non-relevant {
				width: calc(100% - 90px);
			}
		}
	}
	.tabs-wrapper > .navigation-end {
		//display: none;
	}
	.tabs-wrapper > .summary:not(.hidden) + .navigation-end {
		display: block;
	}

	//summary
	.summary-title {
		font-size: 30px;
		font-weight: 300;
		@media all and (min-height: $md-h) {
			font-size: 33px;
		}
		@media all and (min-height: $lg-h) {
			font-size: 37px;
		}
		@media all and (min-height: $xl-h) {
			font-size: 40px;
		}
		@media all and (max-width: $md - 1px) {
			font-size: 21px;
		}
	}
	table {
		width: 100%;
		margin-top: $gutter*2;
		td {
			text-align: center;
			vertical-align: middle;
			padding: 10px 15px;
			&:first-child {
				padding: 10px 15px 10px 0;
				text-align: left;
			}
			@media all and (max-width: $md - 1px) {
				padding: 10px 5px;
				&:first-child {
					padding: 10px 5px 10px 0;
				}
			}
		}
		thead td {
			text-transform: uppercase;
			color: rgba(255,255,255,0.5);
			font-weight: 700;
			font-size: 12px;
			@media all and (min-height: $md-h) {
				font-size: 14px;
			}
			@media all and (min-height: $lg-h) {
				font-size: 16px;
			}
			@media all and (min-height: $xl-h) {
				font-size: 18px;
			}
			@media all and (max-width: $md - 1px) {
				font-size: 12px;
			}
		}
		tbody td {
			border-bottom: 1px solid rgba(255,255,255,0.3);
			font-size: 16px;
			@media all and (min-height: $md-h) {
				font-size: 20px;
			}
			@media all and (min-height: $lg-h) {
				font-size: 24px;
			}
			@media all and (min-height: $xl-h) {
				font-size: 28px;
			}
			@media all and (max-width: $md - 1px) {
				font-size: 16px;
			}
		}
	}

	// kleuren voor categorieën
	&.cat5 {
		background: $color-tertiary;
		.Qnavigation a, .navigation-end a,
		.sidebar ul li.current,
		.progress span.current-progress {
			color: $color-tertiary;	
		}
		.tab-content {
			background-color: $color-tertiary;
		}
		.sidebar .branding a {
			background-image: url(../logo2.png) !important;
		}
	}
	&.cat12 {
		background: $color-quartenary;
		.Qnavigation a, .navigation-end a,
		.sidebar ul li.current,
		.progress span.current-progress {
			color: $color-quartenary;	
		}
		.tab-content {
			background-color: $color-quartenary;
		}
		.sidebar .branding a {
			background-image: url(../logo3.png) !important;
		}
	}
	&.cat13 {
		background: $color-quinary;
		.Qnavigation a, .navigation-end a,
		.sidebar ul li.current,
		.progress span.current-progress {
			color: $color-quinary;	
		}
		.tab-content {
			background-color: $color-quinary;
		}
		.sidebar .branding a {
			background-image: url(../logo4.png) !important;
		}
	}
	&.cat14 {
		background: $color-senary;
		.Qnavigation a, .navigation-end a,
		.sidebar ul li.current,
		.progress span.current-progress {
			color: $color-senary;	
		}
		.tab-content {
			background-color: $color-senary;
		}
		.sidebar .branding a {
			background-image: url(../logo5.png) !important;
		}
	}
}