.logged-in.questionairy #block-pagetitle {
	display: none;
}
.not-logged-in .form-header {
	margin-top: -40px;
	margin-bottom: 20px;
	overflow: hidden;
	@media all and (min-width: $md) {
		margin-top: -120px;
		margin-bottom: 40px;
	}
}
.logged-in .form-header {
	margin-bottom: 20px;
	overflow: hidden;
	@media all and (min-width: $md) {
		margin-bottom: 40px;
	}
}
.packed-results-form {
	@include sitewidth();
	background: $color-white;
	padding: $gutter*2;
	margin-bottom: $gutter*4;
	@media all and (min-width: $md) {
		padding: $gutter*2 100px;
	}
	img.chart {
		display: none;
	}
	.form-header {
		.form-item-start-date {
			margin: 0;
			label {
				@extend h1;
				margin: 0;
				padding: 0 $gutter*2 $gutter*2 0;
				float: left;
			}
			.select {
				margin-top: 10px;
			}
			select, .select {
				width: 270px;
				float: left;
			}
			.select select {
				float: none;
				width: calc(100% + 40px);
			}
		}
		> a {
			display: none;
			position: relative;
			float: right;
			margin-top: 20px;
			padding-left: 25px;
			margin-left: $gutter*2;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 700;
			color: $color-text;
			cursor: pointer;
			html.js & {
				display: block;
			}
		    &:before {
		      content: '';
		      position: absolute;
		      left: 0;
		      top: 2px;
		      display: block;
		      width: 16px;
		      height: 16px;
		      background: $color-white;
		      border: 1px solid $color-grey;
		      border-radius: 8px;
		    }
		    &:hover {
		    	text-decoration: none;
		    }
		    &.is-active:before, &:hover:before {
		    	border-color: $color-text;
		        background: $color-white url(../img/dot.png) no-repeat 50% 50% / 10px auto;
		    }
		}
		@media all and (max-width: $md) {
			> a {
				display: none !important;
			}
		}
	}
	p {
		clear: both;
	}
	.form-item-old-date {
		margin: 0;
		overflow: hidden;
		label {
			@extend h1;
			margin: 0;
			padding: 0 $gutter*2 $gutter*2 0;
			float: left;
		}
		.select {
			margin-top: 10px;
		}
		select, .select {
			width: 270px;
			float: left;
		}
		.select select {
			float: none;
			width: calc(100% + 40px);
		}
	}
	div[data-drupal-selector="edit-main-form-content"] {
		h2 {
			text-transform: none;
			font-size: 24px;
			margin: $gutter*2 0 0;
			@media all and (max-width: $md - 1px) {
				font-size: 20px;
			}
		}
		> p span {
			display: inline-block;
			padding-right: $gutter;
		}
	}
	#top-table, #bottom-table {
		overflow: hidden;
		#top-diagram, #bottom-diagram {
			#top-chart, #top-chart2, #bottom-chart {
				margin-left: -25%;
			}
		}
		@media all and (min-width: $md) {
			table {
				width: 55%;
				float: left;
			}
			#top-diagram, #bottom-diagram {
				width: 40%;
				float: right;
				overflow: hidden;
			}
		}
	}
	.legend {
		span {
			display: inline-block;
			font-size: 14px;
			text-transform: uppercase;
			padding-left: 25px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 3px;
				left: 0;
				display: block;
				width: 14px;
				height: 14px;
				border-radius: 7px;
				border: 2px solid $color-primary;
			}
			&:first-child:before {
				background: $color-primary;
			}
		}
	}
	#top-table table, #bottom-table table {
		margin-top: $gutter*3;
		th, td {
			border-right: 1px solid rgba(14,58,92,0.16);
			&:first-child, &:last-child {
				border: none;
			}
		}
		thead th {
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			padding: 10px;
			text-align: center;
		}
		tbody td {
			font-size: 21px;
			font-weight: 700;
			padding: 10px;
			text-align: center;
			span {
				display: inline-block;
				width: 40px;
				height: 40px;
				line-height: 40px;
				border-radius: 20px;
			}
			&:first-child {
				text-align: left;
				padding-left: 0;
			}
		}
		tr:first-child {
			td:nth-child(1), td:nth-child(3), td:nth-child(4) {
				color: $color-secondary;
				span {
					border: 1px solid $color-secondary;
				}
			}
			td:nth-child(2) span {
				background: $color-secondary;
				color: $color-white;
			}
		}
		tr:nth-child(2) {
			td:nth-child(1), td:nth-child(3), td:nth-child(4) {
				color: $color-tertiary;
				span {
					border: 1px solid $color-tertiary;
				}
			}
			td:nth-child(2) span {
				background: $color-tertiary;
				color: $color-white;
			}
		}
		tr:nth-child(3) {
			td:nth-child(1), td:nth-child(3), td:nth-child(4) {
				color: $color-quartenary;
				span {
					border: 1px solid $color-quartenary;
				}
			}
			td:nth-child(2) span {
				background: $color-quartenary;
				color: $color-white;
			}
		}
		tr:nth-child(4) {
			td:nth-child(1), td:nth-child(3), td:nth-child(4) {
				color: $color-quinary;
				span {
					border: 1px solid $color-quinary;
				}
			}
			td:nth-child(2) span {
				background: $color-quinary;
				color: $color-white;
			}
		}
		tr:nth-child(5) {
			td:nth-child(1), td:nth-child(3), td:nth-child(4) {
				color: $color-senary;
				span {
					border: 1px solid $color-senary;
				}
			}
			td:nth-child(2) span {
				background: $color-senary;
				color: $color-white;
			}
		}
	}
	div[data-drupal-selector="edit-middle"] {
		padding: $gutter;
		background: $color-grey-light;
		margin: $gutter*2 0 $gutter*4;
		@media all and (min-width: $md) {
			padding: $gutter*2 100px;
			margin: $gutter*2 -100px $gutter*4;
		}
		h2 {
			margin-bottom: $gutter*2;
		}
		div[data-drupal-selector="edit-selects"] {
			overflow: hidden;
			margin-bottom: $gutter*2;
			.form-item {
				label {
					font-size: 14px;
					text-transform: uppercase;
				}
				select, .select {
					background-color: $color-white;
				}
				.select select {
					background-color: transparent;
				}
			}
			@media all and (min-width: $md) {
				.form-item {
					float: left;
					width: 25%;
					padding-right: $gutter;
				}
			}
		}
	}
	div[data-drupal-selector="edit-middle"] table {
		width: 100%;
		margin-top: $gutter*3;
		@media all and (min-width: $md) {
			td:first-child {
				width: 50%;
			}
		}
		th, td {
			border-right: 1px solid rgba(14,58,92,0.5);
			border-top: 1px solid rgba(14,58,92,0.5);
			&:last-child {
				border-right: none;
				display: none;
				html.js & {
					display: table-cell;
				}
			}
		}
		tr:first-child th {
			border-top: none;
		}
		tr:last-child td {
			border-bottom: 1px solid rgba(14,58,92,0.5);
		}
		thead th {
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			padding: 10px;
			text-align: center;
		}
		tbody td {
			font-size: 21px;
			padding: 10px;
			text-align: center;
			&:first-child {
				text-align: left;
				padding-left: 0;
			}
			&:first-child, &:nth-child(2) {
				font-weight: 700;
			}
		}
		tr.category {
			cursor: pointer;
			td:last-child {
				width: 50px;
				background: transparent url(../img/right.png) no-repeat 50% 50% / auto 18px;
			}
			&.is-active td:last-child {
				background: transparent url(../img/down.png) no-repeat 50% 50% / 18px auto;
			}
		}
		tr.question {
			td {
				border-top: 1px solid rgba(14,58,92,0.16);
				font-weight: 400;
				font-size: 16px;
				&:first-child {
					position: relative;
					a {
						display: block;
						width: 180px;
						height: 20px;
						line-height: 20px;
						text-align: center;
						margin-top: 10px;
						border: 1px solid $color-primary;
						border-radius: 2px;
						color: $color-text;
						text-transform: uppercase;
						font-size: 12px;
						&:hover, &.is-active {
							text-decoration: none;
							background: rgba(14,58,92,0.16);
						}
					}
					.description {
						padding-top: 5px;
						font-size: 14px;
						html.js & {
							display: none;
						}
					}
				}
			}
			html.js & {
				display: none;
			}
		}
		tr.category {
			td:first-child, td:nth-child(2) {
				color: $color-secondary;
			}
			~ tr.question {
				td:nth-child(2) {
					color: $color-secondary;
				}
			}
			~ tr.category {
				td:first-child, td:nth-child(2) {
					color: $color-tertiary;
				}
				~ tr.question {
					td:nth-child(2) {
						color: $color-tertiary;
					}
				}
				~ tr.category {
					td:first-child, td:nth-child(2) {
						color: $color-quartenary;
					}
					~ tr.question {
						td:nth-child(2) {
							color: $color-quartenary;
						}
					}
					~ tr.category {
						td:first-child, td:nth-child(2) {
							color: $color-quinary;
						}
						~ tr.question {
							td:nth-child(2) {
								color: $color-quinary;
							}
						}
						~ tr.category {
							td:first-child, td:nth-child(2) {
								color: $color-senary;
							}
							~ tr.question {
								td:nth-child(2) {
									color: $color-senary;
								}
							}
						}
					}
				}
			}
		}
	}
	#resultaat {
		overflow: hidden;
		margin: $gutter*3 0;
		h2 {
			margin-top: 0;
			margin-bottom: $gutter*2;
		}
		a {
			display: block;
			padding-left: 40px;
			height: 30px;
			line-height: 24px;
			background: transparent url(../img/pdf.png) no-repeat 0 50% / 24px auto;
			color: $color-text;
			span {
				display: inline-block;
				border-bottom: 1px solid rgba(14,58,92,0.5);
			}
			&:hover {
				span {
					border: none;
				}
			}
		}
		.edit-privacy {
			margin-top: 45px;
		}
		@media all and (min-width: $md) {
			margin: $gutter*5 0;
			#download-resultaat {
				width: 50%;
				float: left;
			}
			.edit-privacy {
				width: 50%; 
				float: right;
				margin-top: 0;
			}
		}
	}
	#explanation-wrapper {
		padding: $gutter;
		background: $color-grey-light;
		@media all and (min-width: $md) {
			padding: $gutter*4 100px;
			margin: $gutter*2 -100px $gutter*4;
		}
		> h2 {
			margin-top: 0;
			margin-bottom: $gutter*2;
			text-align: center;
			text-transform: none;
			font-size: 32px;
			+ p {
				max-width: 640px;
				margin: 0 auto $gutter*3;
				text-align: center;
			}
		}
		.description {
			position: relative;
			z-index: 2;
			h2,h3,h4,h5 {
				&:first-child {
					margin-top: 0;
				}
			}
		}
		.form-wrapper {
			.title {
				line-height: 85px;
				padding-left: 15px;
				cursor: pointer;
				color: $color-secondary;
				position: relative;
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					height: 1px;
					width: calc(100% - 43px);
					background: rgba(14,58,92,0.16);
				}
				h4 {
					margin: 0;
					text-transform: none;
					color: inherit;
				}
				&.is-active {
					background: $color-white url(../img/right2.jpg) no-repeat 100% 0 / auto 100%;
				}
			}
			.description {
				padding: 15px;
			}
			&[data-drupal-selector="edit-4"] {
				.title {
					color: $color-secondary;
					&.is-active {
						background: $color-white url(../img/right2.jpg) no-repeat 100% 0 / auto 100%;
					}
				}
			}
			&[data-drupal-selector="edit-5"] {
				.title {
					color: $color-tertiary;
					&.is-active {
						background: $color-white url(../img/right3.jpg) no-repeat 100% 0 / auto 100%;
					}
				}
			}
			&[data-drupal-selector="edit-12"] {
				.title {
					color: $color-quartenary;
					&.is-active {
						background: $color-white url(../img/right4.jpg) no-repeat 100% 0 / auto 100%;
					}
				}
			}
			&[data-drupal-selector="edit-13"] {
				.title {
					color: $color-quinary;
					&.is-active {
						background: $color-white url(../img/right5.jpg) no-repeat 100% 0 / auto 100%;
					}
				}
			}
			&[data-drupal-selector="edit-14"] {
				.title {
					color: $color-senary;
					&.is-active {
						background: $color-white url(../img/right6.jpg) no-repeat 100% 0 / auto 100%;
					}
				}
			}
			@media all and (min-width: $md) {
				margin-bottom: $gutter*2;
				padding-left: 50%;
				position: relative;
				.title {
					position: absolute;
					top: 0;
					left: 0;
					width: 40%;
				}
				.description {
					padding: 0;
				}
			}
		}
		html.js & {
			.description {
				display: none;
			}
			p + .form-wrapper {
				.description {
					display: block;
				}
			}
		}
		@media all and (min-width: $md) {
			html.js & {
				.form-wrapper {
					height: 85px;
					overflow: visible;
					margin: 0;
					+ .form-wrapper {
						.description {
							position: relative;
							top: -85px;
						}
						+ .form-wrapper {
							.description {
								top: -170px;
							}
							+ .form-wrapper {
								.description {
									top: -255px;
								}
								+ .form-wrapper {
									.description {
										top: -340px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	@media all and (max-width: $md - 1px) {
		width: 100%;
		#block-pagetitle,
		#block-paginatitel {
			width: 100%;
		}
		table {
			td:nth-child(n+3), th:nth-child(n+3) {
				display: none !important;
			}
		}
		canvas, .legend {
			display: none !important;
		}
		#explanation-wrapper {

		}
	}
}	
// @media all and (max-width: $md - 1px) {
// 	.not-front:not(.questionairy) #block-pagetitle,
// 	.not-front:not(.questionairy) #block-paginatitel {
// 		width: 100% !important;
// 		padding-left: $gutter*2 !important;
// 		padding-right: $gutter*2 !important;
// 	}
// }