.not-front:not(.questionairy) {
	#block-pagetitle,
	#block-paginatitel {
		@include sitewidth();
		background: $color-white;
		padding: $gutter*2 $gutter $gutter;
		@media all and (min-width: $md) {
			padding: $gutter*2 100px $gutter;
		}
	}
}
#user-login-form, #user-entity-form, #user-pass, #user-form, #user-pass-reset, .profile {
	@include sitewidth();
	background: $color-white;
	padding: $gutter;
	margin-bottom: $gutter*4;
	@media all and (min-width: $md) {
		padding: $gutter 100px;
	}
	> ul {
		margin: 0 0 $gutter*2 0;
		list-style: none;
		overflow: hidden;
		li {
			margin: 0 $gutter*2 0 0;
			float: left;
			a {
				font-size: 21px;
				font-weight: 700;
				text-transform: uppercase;
				opacity: 0.3;
				color: $color-text;
				&.is-active {
					opacity: 1;
					text-decoration: underline;
				}
				&:hover {
					opacity: 1;
					text-decoration: none;
				}
			}
		}
	}
	.form-item {
		clear: both;
		overflow: hidden;
		.description {
			font-size: 14px;
		}
		.form-item--error-message {
			font-size: 16px;
			strong {
				font-weight: 400;
			}
		}
		@media all and (min-width: $md) {
			label {
				float: left;
				width: 300px;
				line-height: 36px;
			}
			input, select, .select {
				float: left;
				max-width: 570px;
			}
			.select select {
				float: none;
				max-width: none;
			}
			.description, .form-item--error-message {
				clear: both;
				margin-left: 300px;
				max-width: 570px;
			}
			.fieldset-wrapper > .form-item--error-message {
				margin-left: 0;
			}
			.js-form-type-checkbox label {
				width: auto;
			}
		}
	}
	#edit-sector {
		margin: 0 0 $gutter 0;
		fieldset {
			margin: 0 0 $gutter 0;
			legend {
				float: none;
				width: 100%;
				text-transform: uppercase;
			}
			.form-item {
				margin: 0;
				label {
					font-size: 14px;
				}
			}
		}
		> legend {
			text-transform: none !important;
		}
		@media all and (min-width: $md) {
			> legend {
				float: left;
				width: 300px;
				line-height: 36px;
			}
			> .fieldset-wrapper {
				float: left;
				max-width: 570px;
			}
		}
	}
	.confirm-parent, .password-parent {
		max-width: none;
	}
	.password-strength, div.password-confirm {
		clear: both;
		font-size: 14px;
		@media all and (min-width: $md) {
			margin-left: 300px;
			max-width: 570px;
		}
	}
	.form-actions {
		max-width: 870px;
		overflow: hidden;
		.form-item {
			clear: none;
			position: relative;
		}
		input {
			float: right;
			background: $color-primary;
			&:hover {
				opacity: 0.5;
			}
			&.form-checkbox {
				float: none;
				left: 0;
				top: 15px;
				z-index: 0;
				opacity: 0;
			}
		}
		label {
			width: auto;
		}
	}
}
.not-logged-in #user-pass > p {
	font-size: 14px;
	@media all and (min-width: $md) {
			margin-left: 300px;
	}
}
.logged-in #user-pass .form-actions input {
	float: left;
}
#user-entity-form {
	.form-actions {
		.form-item {
			// clear: none;
			// float: right;
			// margin-right: 30px;
			// label {
			// 	width: auto;
			// }
		}
	}
	@media all and (max-width: $md - 1px) {
		.form-actions {
			padding-bottom: 45px;
			position: relative;
			.form-submit {
				position: absolute;
				bottom: 0;
				right: 0;
			}
			.form-item {
				margin-right: 0;
			}
		}
	}
}