.region--footer-inner {
	@include sitewidth();
	max-width: 720px;
	padding: $gutter*3 $gutter;
	text-align: center;
	a {
		color: $color-text;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	.field--name-body {
		font-size: 15px;
	}
}