
// Header mobile
// --------------------------------------------------

.region--header-inner { 
	#block-mainnavigation {
		display: none;
		@media all and (min-width: $md) {
			display: block;
		}
	}
}

.region--header-mobile-inner {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: $color-primary;
	.branding {
		float: none;
		margin: 0;
		padding: $gutter 5%;
		background: $color-white;
		display: block !important;
		a {
			max-width: 100%;
		}
		@media all and (max-width: $md - 1px) {
			padding: $gutter 5%;
			a {
				height: 75px !important;
				width: auto;
				background-position: 0 0 !important;
			}
		}
	}
	#block-mainnavigation-2 ul.menu {
		padding-top: $gutter*2;
	}
	ul.menu li {
		margin: 0;
		a {
			display: block;
			padding: $gutter 5%;
			color: $color-white;
			text-align: center;
			text-transform: uppercase;
		}
	}
}

