
// Header
// --------------------------------------------------

// Branding
.region--header-inner .branding {
	@include sitewidth();
	padding: $gutter*3 $gutter $gutter*3 0;
	a {
		max-width: 100%;
	}
	@media all and (max-width: $md - 1px) {
		padding: $gutter 0;
		a {
			height: 75px !important;
			width: auto;
			background-position: 0 0 !important;
		}
	}
}

// MOBILE MENU ANCHOR

#mobile-menu-anchor {
	position: absolute;
	top: 35px;
	right: 5%;
	display: block;
	width: 25px;
	height: 20px;
	margin: 4px 0;
	background: transparent;
	z-index: 100;
	span {
		display: block;
		margin: 8px 0;
		height: 4px;
		width: 25px;
		background: $color-primary;
	}
	&:before, &:after {
		content: '';
		width: 25px;
		height: 4px;
		position: absolute;
		left: 0;
		background: $color-primary;
		transition: all $transition-default;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
	&.is-active{
		position: fixed;
		span {
			background: transparent;
		}
		&:before {
			transform: rotate(45deg);
			top: 8px;
		}
		&:after {
			transform: rotate(-45deg);
			bottom: 7px;
		}
	}
	@media all and (min-width: $md) {
		display: none;
	}
}

