.banner {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 350px;
	background: $color-white url(../img/bg.jpg) no-repeat 50% 50% / cover;
	~ div {
		position: relative;
		z-index: 2;
	}
}
