#block-loggedinmenu, #block-mainnavigation {
	// float: right;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: $gutter*2;
	ul.menu li {
		float: left;
		margin: 15px 0;
		padding: 0;
		position: relative;
		a, span {
			display: block;
			padding: 0 30px;
			height: 50px;
			line-height: 50px;
			margin-left: 10px;
			background: $color-white;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16);
			font-size: $font-size-small;
			font-weight: 700;
			text-transform: uppercase;
			cursor: pointer;
			&.home {
				color: $color-white;
				text-indent: -9999px;
				width: 50px;
				padding: 0;
				background: $color-primary url(../img/home.png) no-repeat 50% 50% / 24px auto;
			}
			&.start-tool {
				padding: 0 30px 0 60px;
				background: $color-tertiary url(../img/triangle-right.png) no-repeat 30px 50% / 15px auto;
				color: $color-white;
			}
			&.info {
				display: none;
			}
			&:hover {
				opacity: 0.6;
			}
			&.is-active {
				color: $color-secondary;
			}
		}
		&.menu-item--expanded:hover > ul.menu {
			display: block;
		}
		ul.menu {
			display: none;
			position: absolute;
			top: 100%;
			right: 0;
			min-width: 190px;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16);
			li {
				float: none;
				margin: 0;
				&:first-child {
					margin-top: 15px;
				}
				&:last-child a {
					border: none;
				}
				a {
					height: 45px;
					line-height: 45px;
					margin-left: 0;
					box-shadow: none;
					border-bottom: 1px solid rgba(14,58,92,0.10);
					font-size: 14px;
					padding-left: 45px;
					text-transform: none;
					font-weight: 400;
					&.my-profile {
						background: $color-white url(../img/profile.png) no-repeat 20px 50% / 16px auto;
					}
					&.my-results {
						background: $color-white url(../img/results.png) no-repeat 18px 50% / 20px auto;
					}
					&.user-logout{
						background: $color-white url(../img/logout.png) no-repeat 20px 50% / 16px auto;
					}
				}
			}
		}
	}
	@media all and (max-width: $md - 1px) {
		display: none;
	}
	@media all and (max-height: $md-h - 1px) {
		ul.menu li a, ul.menu li span {
			height: 30px;
			line-height: 30px;
			font-size: 14px;
			&.home {
				width: 30px;
				padding: 0;
				background-size: 16px auto;
			}
		}
	}
}