
// Popup
// --------------------------------------------------

.popup {
	display: none;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(14,58,92,0.86);
	overflow: auto;
	.popup-inner {
		display: table;
		width: 100%;
		height: 100%;
		.popup-cell {
			display: table-cell;
			height: 100%;
			text-align: center;
			vertical-align: middle;
			.popup-content {
				display: inline-block;
				text-align: left;
				background: $color-white;
				padding: 20px;
				max-width: 960px;
				@media all and (min-width: $md) {
					padding: 75px;
				}
			}
		}
	}
}

.popup.navigation-end {
	p {
		text-align: center;
		&:last-child {
			margin: 0;
		}
	}
	a {
		display: inline-block;
		text-transform: uppercase;
		&:hover {
			text-decoration: none;
			opacity: 0.6;
		}
		&#submit-session {
			height: 50px;
			line-height: 50px;
			padding: 0 30px 0 60px;
			background: $color-tertiary url(../img/triangle-right.png) no-repeat 30px 50% / 15px auto;
			color: $color-white;
			font-size: $font-size-small;
		}
		&#end-session {
			color: $color-text;
			font-size: 14px;
			span {
				border-bottom: 1px solid $color-text;
			}
		}
	}
}

.field--name-field-question-tips {
	.field__label {
		display: none;
	}
	.field-sector {
		text-transform: uppercase;
		margin: 0;
	}
}