{#
/**
 * @file questionairy.html.twig
 * Default theme implementation to present Questionairy data.
 *
 * This template is used when viewing Questionairy pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_questionairy()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('questionairy') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
