<div class="tabs-wrapper" data-questionairy-key="{{ unique_id }}" data-questionairy-id="{{ questionairy.id() }}">
    <div class="sidebar content">
        <div class="branding">
          <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" style="display:block;width:280px;height:120px;background:transparent url(/themes/custom/coretheme/logo.png) no-repeat 50% 50% / contain;text-indent:-9999px;">
            {% if site_name %}
            <span class="site-name">{{ site_name }}</span>
            {% endif %}
            {% if site_slogan %}
            <span class="site-slogan">{{ site_slogan }}</span>
            {% endif %}
          </a>
        </div>
        <ul>
            {% for question in questions %}
                <li class="category{% if question.current == '1' %} current{% endif %}" data-category-id="{{ question.catId }}">
                    {{ question.catName }}
                </li>
            {% endfor %}
        </ul>
        <div class="progress">
            <h2>{{ 'progress'|t }}</h2>
            <span class="current-progress">1</span> / <span class="total-progress">{{ questionairy.field_quest_total_questions.value }}</span>
        </div>
    </div>

    <div class="tab-content content">
        {% for question in questions %}
            <div class="category{% if question.current == '1' %} current{% endif %}" data-category-id="{{ question.catId }}">
                {% for answer in question.questions %}
                    <div class="question{% if answer.current == '1' %} current{% endif %}" data-answer-id="{{ answer.answerId }}" data-number="{{ answer.number }}">
                        <span class="number">{{ 'Stelling'|t }} {{ answer.number }}</span>
                        {{ answer.render|raw }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="Qnavigation">
            <a href="#" id="navigation-non-relevant" class="no">{{ 'Niet relevant' }}</a>
            <a href="#" id="navigation-previous" class="disabled">previous</a>
            <a href="#" id="navigation-next">next</a>
        </div>
    </div>
    <div class="summary hidden">
        <div>
            <span class="summary-title">{{ 'Einde van de evaluatie'|t }}</span>
            <table>
                <thead>
                <tr>
                    <td></td>
                    <td>{{ 'ingevuld'|t }}</td>
                    <td>{{ 'niet&nbsp;relevant'|t }}</td>
                </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr id="catergory-{{ question.catId }}">
                        <td> {{ question.catName }}</td>
                        <td class="answered">0</td>
                        <td class="nvt">0</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="navigation-end">
            <a href="#" id="submit-session">{{ 'Naar resultaten'|t }}</a>
            <a href="#" id="end-session"><span>{{ 'Evalutatie aanpassen'|t }}</span></a>
        </div>
    </div>
</div>