{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_logo_png: PNG fallback for logo.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}
<div class="branding">
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" style="display:block;width:420px;height:180px;background:transparent url(/themes/custom/coretheme/logo.png) no-repeat 50% 50% / contain;text-indent:-9999px;">
    {% if site_name %}
    <span class="site-name">{{ site_name }}</span>
    {% endif %}
    {% if site_slogan %}
    <span class="site-slogan">{{ site_slogan }}</span>
    {% endif %}
  </a>
</div>
