<div class="header-block">
    <ul class="menu">
        <li class="menu-item">
            <a href="{{ content.field_question_list|render|striptags|trim }}" target="_blank" class="download" download="download"><span>{{ 'Download vragenlijst'|t }}</span></a>
        </li>
        <li class="menu-item">
            <a href=#" class="helpdesk"><span>{{ 'Helpdesk'|t }}</span></a>
        </li>
    </ul>
    <div class="header-block-popin-content popup">
        <div class="popup-inner">
            <div class="popup-cell">
                <div class="popup-content">
                    {{ content.body }}
                    <span class="mail">
                        {% set mail = content.field_mail|render|striptags|trim %}
                        <a href="mailto:{{ mail }}">{{ mail }}</a>
                    </span>
                    <span class="tel">
                        {% set tel = content.field_tel|render|striptags|trim %}
                        <a href="tel:{{ tel|replace({' ':''}) }}">{{ tel }}</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>