
// Buttons
// --------------------------------------------------

.button, button,
input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  padding: 5px 15px;
  color: $color-white;
  text-align: center;
  font-size: $font-size-small;
  text-transform: uppercase;  
  font-weight: 700;
  text-decoration: none;
  background-color: $color-tertiary;
  border-radius: $border-radius-button;
  border: none;
  cursor: pointer;
  transition: $transition-default;
  &:hover,
  &:focus {
      outline: 0;
      text-decoration: none;
      color: $color-white;
      background-color: $color-primary;
  }
}

// Primary
.button-primary {
  @extend .button;
  background-color: $color-primary;
  &:hover,
  &:focus {
    background-color: $color-tertiary;
  }
}

