
// Classes
// --------------------------------------------------

// Hidden Elements

.visually-hidden,
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

//buttons

#mail, #tel {
	display: inline-block;
	font-size: 24px;
	font-weight: 700;
	padding: 0 30px 0 45px;
	height: 30px;
	line-height: 26px;
	color: $color-text;
	background: transparent url(../img/mail.png) no-repeat 0 50% / 30px auto;
	text-decoration: none;
	margin: $gutter*2 0;
	&:hover {
		opacity: 0.5;
	}
}
#tel {
	background: transparent url(../img/tel.png) no-repeat 0 0 / 30px auto;
}

// grid

.container {
	@media all and (min-width: $sm) {
		@include container();
	}
}
.row {
	@media all and (min-width: $sm) {
		@include row();
	}
}
@for $i from 1 through 12 { 
	@media all and (min-width: $sm) {
		.cols--#{$i} { 
			@include cols($i); 
		}
	}
	@media all and (min-width: $md) {
		.cols--md--#{$i} { 
			@include cols($i); 
		}
	}
	@media all and (min-width: $lg) {
		.cols--lg--#{$i} { 
			@include cols($i); 
		}
	}
	@for $j from 1 through 12 { 
		@media all and (min-width: $sm) {
			.cols--#{$i}.colspan--#{$j} { 
				@include cols($i/$j); 
			}
		}
		@media all and (min-width: $md) {
			.cols--md--#{$i}.colspan--md--#{$j} { 
				@include cols($i/$j); 
			}
		}
		@media all and (min-width: $lg) {
			.cols--lg--#{$i}.colspan--lg--#{$j} { 
				@include cols($i/$j); 
			}
		}
	} 
} 
