
// Document
// --------------------------------------------------

// Box Sizing

*,
*:before,
*:after {
    box-sizing: border-box;
}

html  {
  -webkit-text-size-adjust: none; // Prevent font scaling in landscape
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
}

// Document settings

body {
  font-family: $font-default;
  font-size: $font-size-small;
  font-weight: 400;
  line-height: 1.5;
  color: $color-text;
  background-color: $color-white;
  font-variant-ligatures: none; // turn off ligatures
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media all and (min-height: $lg-h) and (min-width: $md) {
    font-size: $font-size-default;
  }
}

.ajax-progress {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.5) url(../img/loader.gif) no-repeat 50% 50%;
}

#user-login-form {
  padding-bottom: $gutter*2;
  max-width: 420px;
}

.messages {
  @include sitewidth();
  margin-bottom: 0 !important;
}

body:not(.front) .node--type-page {
  @include sitewidth();
  background: $color-white;
  padding: $gutter $gutter*2;
  margin-bottom: $gutter*4;
  @media all and (min-width: $md) {
    padding: $gutter 100px;
  }
}
