
// Forms
// --------------------------------------------------

// Reset

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
input[type="time"],
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

fieldset {
  padding: 0;
  border-width: 0;
  > legend {
    @extend label;
  }
}

// Form item

.form-item {
  margin-top: 0;
  margin-bottom: $gutter;
}

// Labels

.form-item {
  label {
    display: block;
    margin-bottom: 0;
  }
}
.webform-element--title-inline {
  label {
    display: inline-block;
  }
}

label.field-label,
div.field-label,
span.field-label {
  @extend label;
  display: inline-block;
  margin-right: 5px; 
}
.label-inline {
  @extend label;
  label.field-label, 
  div.field-label, 
  span.field-label,
  div.field-content {
    display: inline-block;
  }
}



// Description

.form-item {
  .description {
  	font-size: $font-size-small;
    p, ul, li {
      margin-bottom: 0;
    }
  }  
}

// Prefix

.field-prefix {
  margin-right: 5px;
}

// Suffix

.field-suffix {
  margin-left: 5px;
}

// Form elements
// --------------------------------------------------

// Text fields

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
input[type="time"],
input.form-color,
select {
  width: 100%;
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: $color-grey-light;
  border: 1px solid $color-grey-light;
  border-radius: $border-radius-button;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 16px;
  transition: all $transition-default;
  max-width: 100%;
  &:hover {
    border: solid 1px $color-text;
    outline: 0;
  }
  &:focus {
    border: solid 1px $color-primary;
    outline: 0;
  }
}

// Textarea

textarea {
  width: 100%;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: $color-white;
  border: 1px solid $color-grey;
  border-radius: $border-radius-button;
  box-shadow: none;
  box-sizing: border-box;
  font-size: $font-size-default;
  min-height: 65px;
  transition: all $transition-default;
  &:hover {
    border: solid 1px $color-text;
    outline: 0;
  }
  &:focus {
    border: solid 1px $color-primary;
    outline: 0;
  }
}

// Checkbox/radio

.form-type-checkbox,
.form-type-radio {
  input {
    margin-right: 5px;
  }
  label {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
  }
}

.form-type-checkbox,
.form-type-radio {
  overflow: hidden;
  input {
    position: absolute;
    left: -9999px;
  }
  label {
    padding-left: 25px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
      display: block;
      width: 16px;
      height: 16px;
      background: $color-white;
      border: 1px solid $color-primary;
      border-radius: 2px;
      @media all and (min-width: $md) {
        top: 9px;
      }
    }
  }
  input:checked + label:before {
    background: $color-white url(../img/check.png) no-repeat 50% 50% / 15px auto;
    border-color: $color-primary;
  }
}
.form-type-radio {
  label {
    &:before {
      border-radius: 8px;
    }
  }
  input:checked + label:before {
    background: $color-white url(../img/dot.png) no-repeat 50% 50% / 10px auto;
  }
}


.form-checkboxes,
.form-type-radios {
  .form-type-checkbox:not(:last-child),
  .form-type-radio:not(:last-child) {
    margin-bottom: 3px;
  }
  .form-type-checkbox:last-child,
  .form-type-radio:last-child {
    margin-bottom: 0;
  }
}


//select

.select {
  overflow: hidden;
  width: 100%;
  height: 38px;
  padding: 6px 10px;
  /* The 6px vertically centers text on FF, ignored by Webkit */
  background: $color-grey-light url(../img/down.png) no-repeat calc(100% - 10px) 50%;
  background-size: 18px auto;
  border: 1px solid $color-grey-light;
  border-radius: $border-radius-button;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 16px;
  transition: all $transition-default;
  max-width: 100%;
  &:hover {
    border: solid 1px $color-text;
  }
  select {
    width: calc(100% + 40px);
    max-width: none;
    padding: 0;
    height: 100%;
    background: transparent;
    border: none;
    &:hover {
      border: none;
    }
    &:focus {
      border: none;
    }
    option {
      width: calc(100% - 40px);
    }
  }
}

// jQuery UI overides
// --------------------------------------------------

.ui-widget {
  font-family: $font-default;
  font-size: $font-size-default;
}

// Autocomplete

.ui-autocomplete {
  border: none;  
  background: $color-white;
  .ui-menu-item {
    position: relative;
    z-index: 1;
    margin: -1px 0 0;
    padding: 10px 5px;
    border: 1px solid $color-grey;
    transition: all $transition-default;
  }
  .ui-state-focus {
    z-index: 2;
    background: none;
    border: solid 1px $color-primary;
  }
}