
// Typography
// --------------------------------------------------

// Spacing

pre, blockquote, dl, figure, table, p, ul, ol, form {
  margin-bottom: $gutter;
}

// Headings

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
  font-weight: 700;
  margin-top: $gutter*2;
  margin-bottom: $gutter;
  color: $color-text;
  a {
    color: inherit;
  }
  &:first-child {
    margin-top: 0;
  }
}


h1 {
  font-size: $font-size-h1-small;
  @media all and (min-height: $lg-h) and (min-width: $md) {
    font-size: $font-size-h1;
  }
}

h2 {
  font-size: $font-size-h2-small;
  text-transform: uppercase;
  @media all and (min-height: $lg-h) and (min-width: $md) {
    font-size: $font-size-h2;
  }
}

h3 {
  font-size: $font-size-h3-small;
  @media all and (min-height: $lg-h) and (min-width: $md) {
    font-size: $font-size-h3;
  }
}

h4 {
  font-size: $font-size-small;
  text-transform: uppercase;
  font-weight: 700;
}

h5 {
  font-size: $font-size-small;
  text-transform: uppercase;
  font-weight: 400;
}

h6 {
  font-size: $font-size-small;
  font-weight: 700;
}

p {
  margin-top: 0;
}

.description {
  font-size: $font-size-small;
}


a {
  color: $color-link;
  text-decoration: none;
  transition: $transition-default;
  &:hover {
    text-decoration: underline;
  }
}

// Labels

label {
  font-weight: 700;
}


// Description lists

dl {
  margin-bottom: 1rem;
  dt {
    font-weight: 600;
  }
  dd {
    margin-left: 2rem;
  }
}


// Lists

ul {
  list-style: circle outside;
  margin-left: $gutter;
  li {
    margin-bottom: 5px;
  }
}

ol {
  list-style: decimal outside;
  margin-left: $gutter;
  padding-left: 0;
  margin-top: 0;
}

ul, ol {
  padding-left: 0;
  margin-top: 0;
  ul, ol {
    margin: $gutter 0 $gutter $gutter;
  }
}


// Tables

table {
  max-width: 100%;
  border-collapse: collapse;
}
table.full-width {
  width: 100%;
}

th {
    font-weight: 700;
}

th, td {
  padding: 5px;
  text-align: left;
  vertical-align: top;
}


// Blockquote

blockquote {
  margin: 0 0 $gutter;
  padding: 0 0 0 $gutter;
  border-left: solid 3px $color-primary;
  p {
    font-size: $font-size-default;
    margin-bottom: 0;
  }
  @media all and (min-width: $md) {
    p {
      font-size: $font-size-h3;
    }
  }
}

// Images

img {
  max-width: 100%;
  height: auto;
  border: 0 none;
}

.inline-image {
  float: left;
  margin-right: $gutter;
  margin-bottom: $gutter;
  &.float-right {
    float: right;
    margin-right: 0rem;
    margin-left: $gutter;
  }
}
