
// Print CSS
// --------------------------------------------------

@import 'config/settings';

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: $color-text;
  background-color: $color-white;
}


h1, h2, h3, h4, h5, h6 {
  font-family: arial, helvetica, sans-serif;
  font-weight: 700;
  margin-top: $gutter*2;
  margin-bottom: $gutter;
  color: $color-text;
  a {
    color: inherit;
  }
}


h1, h2 {
  text-transform: none;
  font-size: 18px;
  margin: $gutter*2 0 0;
}

p {
  margin-top: 0;
}

.description {
  font-size: $font-size-small;
}

a {
  color: $color-text;
  text-decoration: none;
}

//.packed-results-form {
	.form-header select, .form-header a, #top-diagram, #bottom-diagram, 
	.js-form-item-old-date select, .legend {
		display: none;
	}
	.form-header label, .js-form-item-old-date label {
		@extend h2;
	}
	div[data-drupal-selector="edit-main-form-content"] {
		> p span {
			display: inline-block;
			padding-right: $gutter;
		}
	}
	#top-table, #bottom-table {
		overflow: hidden;
		table {
			width: 100%;
		}
	}
	#top-table table, #bottom-table table {
		margin-top: $gutter*3;
		th, td {
			display: table-cell !important;
		}
		th, td {
			border-right: 1px solid #d8dfe5;
			&:first-child, &:last-child {
				border: none;
			}
		}
		th {
			font-size: 12px;
			font-weight: 400;
			text-transform: uppercase;
			padding: 10px;
			text-align: center;
		}
		td {
			font-size: 14px;
			font-weight: 700;
			padding: 10px;
			text-align: center;
			span {
				display: inline-block;
				width: 25px;
				height: 25px;
				line-height: 25px;
				border-radius: 13px;
			}
			&:first-child {
				text-align: left;
				padding-left: 0;
			}
		}
		tr:first-child {
			td:nth-child(1), td:nth-child(3), td:nth-child(4) {
				color: $color-secondary;
				span {
					border: 1px solid $color-secondary;
				}
			}
			td:nth-child(2) span {
				background: $color-secondary;
				color: $color-white;
			}
		}
		tr:nth-child(2) {
			td:nth-child(1), td:nth-child(3), td:nth-child(4) {
				color: $color-tertiary;
				span {
					border: 1px solid $color-tertiary;
				}
			}
			td:nth-child(2) span {
				background: $color-tertiary;
				color: $color-white;
			}
		}
		tr:nth-child(3) {
			td:nth-child(1), td:nth-child(3), td:nth-child(4) {
				color: $color-quartenary;
				span {
					border: 1px solid $color-quartenary;
				}
			}
			td:nth-child(2) span {
				background: $color-quartenary;
				color: $color-white;
			}
		}
		tr:nth-child(4) {
			td:nth-child(1), td:nth-child(3), td:nth-child(4) {
				color: $color-quinary;
				span {
					border: 1px solid $color-quinary;
				}
			}
			td:nth-child(2) span {
				background: $color-quinary;
				color: $color-white;
			}
		}
		tr:nth-child(5) {
			td:nth-child(1), td:nth-child(3), td:nth-child(4) {
				color: $color-senary;
				span {
					border: 1px solid $color-senary;
				}
			}
			td:nth-child(2) span {
				background: $color-senary;
				color: $color-white;
			}
		}
	}
	div[data-drupal-selector="edit-middle"] {
		padding: $gutter 0;
		h2 {
			margin-bottom: $gutter*2;
		}
		div[data-drupal-selector="edit-selects"] {
			display: none;
		}
	}
	div[data-drupal-selector="edit-middle"] table {
		width: 100%;
		margin-top: $gutter*3;
		margin-bottom: $gutter*3;
		thead {
			display: table-row-group
		}
		tr {
			display: table-row !important;
		}
		th, td {
			display: table-cell !important;
			padding: 15px 10px;
			border-right: 1px solid #869cad;
			border-top: 1px solid #869cad;
			&:last-child {
				display: none !important;
			}
		}
		th {
			font-size: 12px;
			font-weight: 400;
			text-transform: uppercase;
			text-align: center;
		}
		td {
			font-size: 14px;
			text-align: center;
			&:first-child {
				text-align: left;
				padding-left: 0;
			}
			&:first-child, &:nth-child(2) {
				font-weight: 700;
			}
		}
		tr:first-child th {
			border-top: none;
		}
		tr:last-child td {
			border-bottom: 1px solid #869cad;
		}
		tr.question td:first-child a {
			display: none;
		}
		tr.question {
			td {
				border-top: 1px solid #d8dfe5;
				font-weight: 400;
				font-size: 14px;
				&:first-child {
					position: relative;
					padding-right: 200px;
					a {
						display: none !important;
					}
					.description {
						displau: block !important;
						padding-top: $gutter;
						font-size: 12px;
					}
				}
			}
		}
		tr.category {
			td {
				padding-top: 30px;
			}
			td:first-child, td:nth-child(2) {
				color: $color-secondary;
			}
			~ tr.question {
				td:nth-child(2) {
					color: $color-secondary;
				}
			}
			~ tr.category {
				td:first-child, td:nth-child(2) {
					color: $color-tertiary;
				}
				~ tr.question {
					td:nth-child(2) {
						color: $color-tertiary;
					}
				}
				~ tr.category {
					td:first-child, td:nth-child(2) {
						color: $color-quartenary;
					}
					~ tr.question {
						td:nth-child(2) {
							color: $color-quartenary;
						}
					}
					~ tr.category {
						td:first-child, td:nth-child(2) {
							color: $color-quinary;
						}
						~ tr.question {
							td:nth-child(2) {
								color: $color-quinary;
							}
						}
						~ tr.category {
							td:first-child, td:nth-child(2) {
								color: $color-senary;
							}
							~ tr.question {
								td:nth-child(2) {
									color: $color-senary;
								}
							}
						}
					}
				}
			}
		}
	}
	#resultaat {
		display: none !important;
	}
	#explanation-wrapper {
		padding: $gutter 0;
		> h2 {
			margin-bottom: $gutter*2;
			+ p {
				margin: 0 0 $gutter*3;
			}
		}
		.form-wrapper {
			margin-bottom: $gutter*2;
			.title {
				color: $color-secondary;
				position: relative;
				h4 {
					margin: 0;
					text-transform: none;
					color: inherit;
				}
			}
			.description {
				display: block !important;
				font-size: 12px;
				h2,h3,h4,h5 {
					margin: 0 0 5px;
					font-size: 14px;
				}
			}
			&[data-drupal-selector="edit-4"] {
				.title {
					color: $color-secondary;
				}
			}
			&[data-drupal-selector="edit-5"] {
				.title {
					color: $color-tertiary;
				}
			}
			&[data-drupal-selector="edit-12"] {
				.title {
					color: $color-quartenary;
				}
			}
			&[data-drupal-selector="edit-13"] {
				.title {
					color: $color-quinary;
				}
			}
			&[data-drupal-selector="edit-14"] {
				.title {
					color: $color-senary;
				}
			}
		}
	}
//}

button, .button, canvas {
	display: none;
}


