
// Styles
// --------------------------------------------------

// FONT

// @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

// CONFIG

@import 'config/mixins';
@import 'config/settings';

// BASE

@import 'base/document';
@import 'base/classes';
@import 'base/typography';
@import 'base/messages';
@import 'base/buttons';
@import 'base/forms';
@import 'base/menu';
@import 'base/localtasks';

// COMPONENTS

@import 'components/regions/header';
@import 'components/regions/header_mobile';
@import 'components/regions/content';
@import 'components/regions/footer';
@import 'components/paragraphs/paragraphs';
@import 'components/paragraphs/downloads';
@import 'components/paragraphs/form';
@import 'components/paragraphs/accordeon';
@import 'components/views/articles';
@import 'components/views/search';
@import 'components/rangeslider/rangeslider';
@import 'components/pages/questions';
@import 'components/pages/results';
@import 'components/pages/front';
@import 'components/pages/user';
@import 'components/blocks/popup';
@import 'components/blocks/main-menu';
@import 'components/blocks/banner';

.tab-content .category {
  display: none;
  &.current {
    display: block;
  }

  & > .question {
    display: none;
    &.current {
      display: block;
    }
  }
}

.sidebar .category.current {
  font-weight: bold;
}